<div class="border-end shadow vh-100" style="width: 220px;">
  <div class="bg-primary">
    <p class="text-white text-center py-3 h3">SLACA 2019</p>
  </div>
  <img src="./../../../../assets/logoSlaca.png" width="100%">

  <nav>
    <ul class="d-flex flex-column p-0 col-12">
      <li class="rota"><a>Apresentação</a></li>
      <li class="rota"><a>Comitês</a></li>
      <li class="rota"><a>Autores</a></li>
      <li class="rota"><a>Eixos temáticos</a></li>
      <li class="rota rotaAtiva"><a>Trabalhos</a></li>
      <li class="rota"><a>Contato</a></li>
    </ul>
  </nav>
</div>
