.rotaAtiva{
  border-left: 0.25rem solid rgba(var(--bs-primary-rgb));
}

.rota{
  padding: 0.25rem 1rem;
  border-bottom: 2px solid rgba(var(--bs-primary-rgb));
}

.rota:hover,.rotaAtiva{
 background-color: var(--bs-primary-bg-subtle);
}
